.background{
  background-image: url('../../assets/fundo-lindo.jpg');
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
}

.MyForm--container{
    height: 600px;
    width: 400px;
    margin-right: 150px;
    padding-top: 100px;
    padding-bottom: 55px;
    
}

@media only screen and (max-width: 768px) {
  .background{
    background-position: right;
  }
}

