.background {
  background-image: url("../../assets/fundo-lindo.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.MyForm--container {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  margin-right: 200px;
  padding-top: 100px;
  padding-bottom: 55px;
  padding-left: 20px;
}

@media only screen and (max-width: 1024px) {
  .background {
    background-position: right;
  }
  .MyForm--container {
    margin-right: 20px;
  }
}
