.header--container{
    background-image: url('../../assets/background-profile.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.profile--img{
    border-radius: 50%;
    width: 250px;
}

.profile--paragraph{
    line-height: 30px;
    font-size: 18px;

}
.title--style{
    color:#89889a;
}


