.footer--design {
  background-color: rgba(248, 246, 233, 1);
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ece6c2;
  height: 30px;
  padding-top: 4px;
}
.heart--img{
  width: 30px;
  height: 20px;
}
