*{
  font-family: 'Lora', serif;
  
}
body{
  background-color: #efeace;
}

header{
  height: 500px;
  background-position: center;
  background-image: url('./assets/fundo-home.jpg');
}


.image-mapa-livro{
  background-image: url('./assets/mapa-livros.png');
  background-repeat: no-repeat;
}

.mapa-livro{
  object-fit: cover;
  object-position: center; 
  width: 100%; /* width of container */
  height: 50% /* height of container */
    
}

